.app__aboutus{
    position: relative;
}
.app__aboutus-overlay{
    position: absolute;
    inset: 0;
}
.app__aboutus-overlay img{
    width: 390px;
    height: 410px;
    z-index: 0;

}
.app__aboutus-content{
    z-index: 3;
}
.app__aboutus-knife-img {
    margin: 2rem 4rem;
}
.app__aboutus-knife-img img{
    height: 610px;
}
.app__aboutus-content-about{
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.app__aboutus-content-history{
    flex: 1;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.app__aboutus-content-history p,
.app__aboutus-content-about p{
    margin: 2rem 0;
}
@media screen and (max-width: 650px) {
    .app__aboutus-overlay img{
        width: 80%;
    }
    .app__aboutus-content{
        display: flex;
        flex-direction: column;
    }

}