.app__header{
    background-color: var(--color-black);
}
.app__header-h1{
    color: var(--color-golden);
    font-family: var(--font-base);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 90px;
}
.app__wrapper-img img{
    width: 80%;
}